.inner_contact{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

.child-contact{
    flex-basis: 45%;
}

.child-contact form{
    padding: 50px 40px;
    background: #2F363E;
    border-radius: 5px;
}
.child_contact form input,textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: #24292D;
    border: none;
    resize: none;
    border-radius: 25px;
    transition: .3s ease-in;
}

.child_contact form input,textarea:focus{
color: #fff;
}

.child_contact form input:focus{
    letter-spacing: 1px;
}

.child_contact form textarea.focus{
    letter-spacing: 1px;
}

.child_contact form input:last-child{
    margin-bottom: 0;
    background: #ba2d88;
    border: 1px solid #ba2d88;
    transition: .3s;
}

.child_contact form input:last-child:hover{
    background: transparent;
    color: #fff;
}
